
<li>
    {{!-- not sure if below should be name or burger_name think it refers to other handlebars file --}}
    {{burger_name}}
//changed to burger_name to test
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}That was good!{{else}}Eat your burger!{{/if}}
    </button>
</li>