body{
    text-align:center;
    
    
    /* background-color: #349890;  */
}
h1{
    font-family: 'Monoton',
    cursive;
    font-size:80px;
    font-weight:lighter;
    
}
h2{
   font-family: 'Scope One',
    serif;
    font-size: 30px; 
}
li {
    padding: 5px;
    margin: 5px;
    background-color:transparent;
    /* background: #61a4be; */
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
    background-color:transparent;
}
#ca {
    background-color: pink;
}
.change-devoured {
    background-color:yellow;
}
.btn-burger {
    color: #ffffff;
    background-color: #824E12;
    border-color: #824E12;
}

.btn-burger:hover,
.btn-burger:focus,
.btn-burger:active,
.btn-burger.active,
.open .dropdown-toggle.btn-burger {
    color: #ffffff;
    background-color: #128216;
    border-color: #824E12;
}

.btn-burger:active,
.btn-burger.active,
.open .dropdown-toggle.btn-burger {
    background-image: none;
}

.btn-burger.disabled,
.btn-burger[disabled],
fieldset[disabled] .btn-burger,
.btn-burger.disabled:hover,
.btn-burger[disabled]:hover,
fieldset[disabled] .btn-burger:hover,
.btn-burger.disabled:focus,
.btn-burger[disabled]:focus,
fieldset[disabled] .btn-burger:focus,
.btn-burger.disabled:active,
.btn-burger[disabled]:active,
fieldset[disabled] .btn-burger:active,
.btn-burger.disabled.active,
.btn-burger[disabled].active,
fieldset[disabled] .btn-burger.active {
    background-color: #824E12;
    border-color: #824E12;
}

.btn-burger .badge {
    color: #824E12;
    background-color: #ffffff;
}